<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
</head>
<body>
	<wicket:panel>
		<form wicket:id="languageForm" action="">
            <input wicket:id="polishButton" type="image" wicket:message="title:pl" src="images/pl.png"
                   name="image" width="25" height="25" style="border-style: none;"/>
            <input wicket:id="englishButton" type="image" wicket:message="title:gb" src="images/gb.png"
                   name="image" width="25" height="25" style="border-style: none;"/>
        </form>
	</wicket:panel>
</body>
</html>