<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
</head>
<body>
	<wicket:panel>
		<!-- SIDEBAR -->

        <h4>O aplikacji</h4>
        <p>Jest to przykładowa aplikacja, która pomoże Ci zarzadzać swoimi przedmiotami schowanymi w wielu miejscach w całym Twoim domu.</p>


        <h4>Linki</h4>
        <ul class="blocklist">

            <li><a href="https://github.com/tdziurko/item-directory-with-wicket" title="Kod źródłowy tej aplikacji">Kod źródłowy tej aplikacji</a></li>
            <li><a href="http://tomaszdziurko.pl/2011/03/wicket-tutorial-series-building-web-application-scratch/" title="Tutorial opisujący proces tworzenia tej aplikacji">Tutorial opisujący proces tworzenia tej aplikacji</a></li>
            <li><a href="http://tomaszdziurko.pl/" title="Tomasz Dziurko">Autor</a></li>
            <li><a href="http://www.spyka.net" title="Spyka Webmaster resources">Szablon wyglądu stworzony przez Spyka</a></li>
        </ul>

        <!-- SIDEBAR -->
	</wicket:panel>
</body>
</html>