<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
</head>
<body>
	<wicket:panel>
		<!-- SIDEBAR -->

        <h4>About</h4>
        <p>This is example application to help you manage your items hidden in many locations across your home.</p>


        <h4>Links</h4>
        <ul class="blocklist">

            <li><a href="https://github.com/tdziurko/item-directory-with-wicket" title="Source code of this application">Source code of this application</a></li>
            <li><a href="http://tomaszdziurko.pl/2011/03/wicket-tutorial-series-building-web-application-scratch/" title="Tutorial about creating this application">Tutorial about creating this application</a></li>
            <li><a href="http://tomaszdziurko.pl/" title="Tomasz Dziurko">Author</a></li>
            <li><a href="http://www.spyka.net" title="Spyka Webmaster resources">Template Created by Spyka</a></li>
        </ul>

        <!-- SIDEBAR -->
	</wicket:panel>
</body>
</html>